{% extends 'extended_hcard.html' %}

{% block meta %}
<link rel="icon" href="{{ site_owner.photo.url }}" />
<link rel="apple-touch-icon-precomposed" href="{{ site_owner.photo.url }}" />
{% endblock %}

{% block body %}
    <ul class="feed">
        {% for item in page_obj %}
            <li class="h-entry"><h2><a href="{{ item.get_absolute_url }}">{{ item.title }}</a></li>
        {% endfor %}
    </ul>
    {% if page_obj.has_next %}
        <a href="?page={{ page_obj.next_page_number }}">older</a>
    {% endif %}
    {% if page_obj.has_previous %}
        <a href="?page={{ page_obj.previous_page_number }}">newer</a>
    {% endif %}
{% endblock %}