azure-storage-blob==12.24.0
beautifulsoup4==4.12.3
bleach==6.2.0
Django==4.2.17
django-storages==1.14.4
django-resized==1.0.3
django-environ==0.11.2
django-sass==1.1.0
Mastodon.py==1.8.1
mistune==2.0.5
mf2py==2.0.1
Pillow==10.4.0
requests==2.32.3
tweepy==4.14.0