@use "colors";

.article .meta {
    font-size: colors.$fontSmall;
    font-family: 'Open Sans', sans-serif;
}

.article {
    overflow-x: scroll;
}

.article img {
    max-width: 100%;
}

.article-header + .article-content {
    margin-top: colors.$space3;
}

.article-summary {
    display: none;
}

.article-content + .article-footer {
    margin-top: colors.$space3;
}

.article-content code {
    font-size: colors.$fontSmall;
    font-weight: bold;
  }
  
  .article-readmore {
    font-family: 'Open Sans', sans-serif;
    display: block;
    margin: colors.$space3 0;
    font-size: colors.$fontSmall;
  }
  

.article .tags {
    ul {
        list-style: none;
        margin: 0;
        padding: 0;
        display: inline;
    }

    li {
        display: inline;

        &::after {
            content: ',';
        }

        &:last-child::after {
            content: '';
        }
    }
}

.article.note .article-header,
.article.photo .article-header {
    margin-top: colors.$space3;
}

.article.note .article-content {
    font-size: colors.$font3;
}