@use 'colors';

body {
    padding: colors.$space2;

    font-size: 18px;
    line-height: 1.6;
    font-family: 'EB Garamond', serif;
    background: colors.$lightBackground;
    color: colors.$darkText;
    font-weight: normal;
}

h1,h2,h3,h4,h5,h6,
.display1, .display2, .display3, .display4, .display5, .display6 {
    font-weight: normal;
    line-height: 1;
    margin-top: colors.$space3;
    margin-bottom: 0;
}

h1, .display1 {
    font-size: colors.$font6;
}
h2, .display2 {
    font-size: colors.$font5;
}
h3, .display3 {
    font-size: colors.$font4;
}
h4, .display4 {
    font-size: colors.$font3;
}
h5, .display5 {
    font-size: colors.$font2;
}
h6, .display6 {
    font-size: colors.$font1;
}

a:link, a:visited, a:hover, a:active {
    color: colors.$lightAccent;
    text-decoration: none;

    &:hover, &:active {
        text-decoration: underline;
    }
}

a.alt {
    &:link, &:visited, &:hover, &:active {
        color: inherit;
        font-weight: bold;
        border-bottom: 1px solid transparent;
    }

    &:hover, &:active {
        border-bottom-color: colors.$darkText;
        text-decoration: none;
    }
}

h1,
h2,
h3,
h4,
h5,
h6,
.display1,
.display2,
.display3,
.display4,
.display5,
.display6 {
    a.alt {
        &:link, &:visited, &:hover, &:active {
            font-weight: normal;
        }
    }
}

hr {
    margin: colors.$space3;
    opacity: 0.5;
}

/* code blocks */
pre code {
    border-radius: colors.$space2;
    background: #f3f3f3;
    color: #444;
    display: block;
    overflow-x: auto;
    padding: colors.$space3;
  }
  
  blockquote {
    margin-left: colors.$space3;
    border-left: colors.$space1 solid #CC8400;
    padding-left: colors.$space3;
  }

@media screen and (min-width: 410px) {
    body {
        font-size: 21px;
    }
}

@media screen and (min-width: 465px) {
    body {
        font-size: 24px;
    }
}