//$lightAccent: #FFBC06;
$lightAccent: #A36A00; // needed to make darker for accessibility contrast
$darkAccent: #FFBD42; // text on dark background should be bigger and/or bolder

$darkBackground: #535353;
$lightBackground: #FEFEFE;

$darkText: #444;
$lightText: #F5F5F5;

$fontRoot: 18px;
$fontBase: 1em;
$font1: 1em; // 18/18
$font2: 1.33em; // 24/18
$font3: 1.33em; // 24/18
$font4: 1.33em; // 24/18
$font5: 1.66em; // 30/18
$font6:  1.66em; // 30/18
$fontSmall: 0.66em; // 12/18

$space1: 0.33em; // 6/18
$space2: 0.66em; // 12/18
$space3: 1em; // 18/18
$space4: 1.33em;
$space5: 1.66em;
$space6: 2em;