$lightAccent: #FFBC06;
$darkAccent: #CC8400; // text on dark background should be bigger and/or bolder

$darkBackground: #535353;
$lightBackground: #FEFEFE;

$darkText: #444;
$lightText: #F5F5F5;

$fontRoot: 18px;
$fontBase: 1em;
$font1: 1.22em; // 22/18
$font2: 1.44em; // 26/18
$font3: 1.66em; // 30/18
$font4: 1.88em; // 34/18
$font5: 2.11em; // 38/18
$font6:  2.33em; // 42/18
$fontSmall: 0.77em; // 14/18