@use "colors";

.exercisemeta {
    margin: colors.$space3 0;

    dt, dd {
        display: inline;
    }

    dt {
        font-weight: bold;

        &::after {
            content: ':';
        }
    }

    dd {
        margin-left: 0;
        margin-right: colors.$space3;
    }
}