@use 'colors';

.feed-list {
    list-style:none;
    margin: colors.$space6 0;
    padding: 0;
}

.feed-item {
    margin-top: colors.$space3;

    &:first-child {
        margin-top: 0;
    }
}

.feed-list {
    h1, .display1 {
        font-size: colors.$font5;
    }
    h2, .display2 {
        font-size: colors.$font4;
    }
    h3, .display3 {
        font-size: colors.$font3;
    }
    h4, .display4 {
        font-size: colors.$font2;
    }
    h5, .display5 {
        font-size: colors.$font1;
    }
    h6, .display6 {
        font-size: colors.$fontBase;
        text-transform: uppercase;
    }
}

.feed-nav {
    overflow: hidden;
    font-family: 'Open Sans', sans-serif;
}

.feed-nav-older {
    float: left;

    &::before {
        content: '← ';
    }
}

.feed-nav-newer {
    float: right;

    &::after {
        content: ' →';
    }
}
