@use 'colors';

.postmeta-published-author img {
    display: none;
  }

.postmeta-tags {
    ul {
        list-style: none;
        margin: 0;
        padding: 0;
        display: inline;
    }

    li {
        display: inline;

        &::after {
            content: ',';
        }

        &:last-child::after {
            content: '';
        }
    }
}

.linklist {
    list-style: none;
    margin: colors.$space6 0;
    padding: 0;
  
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}
  
.linklist-item {
    padding: colors.$space1 0;
    width: 9em;
}