@use "colors";

.profile {
    text-align: center;
}

.profile-image {
    border-radius: 50%;
    display: block;
    margin: 0 auto;
}

.profile-bio, .profile-linkedprofilelist {
    font-size: colors.$fontSmall;
}

.profile-link + .profile-name {
    margin-top: colors.$space1;
}

.profile-name + .profile-bio {
    margin-top: colors.$space2;
    margin-bottom: colors.$space2;
}
.profile-linkedprofilelist {
    margin: colors.$space2 0 0 0;
    padding: 0;
    list-style: none;
}

.profile-bio {
    font-family: 'Open Sans', sans-serif;
}

.profile-linkedprofileitem {
    font-family: 'Open Sans', sans-serif;

    display: inline-block;
    margin-left: colors.$space2;

    &:first-child {
        margin-left: 0;
    }
}