{% extends 'feed/detail.html' %}

{% block meta %}
{{ block.super }}
<meta name="twitter:card" content="summary" />
<meta name="twitter:creator" content="@{{ note.author.twitter_screenname }}" />
<meta property="og:url" content="{{ permalink }}" />
<meta property="og:title" content="{{ note.feed_item_header }}" />
<meta property="og:description" content="{{ note.content }}" />
<meta property="og:type" content="article" />
{% endblock %}

{% block postheader %}
    <header class="article-header">
        {% if object.in_reply_to %}
        <div>In reply to <a class="u-in-reply-to" href="{{object.in_reply_to}}">{{object.in_reply_to}}</a></div>
        {% endif %}
    </header>
{% endblock %}

{% block postcontent %}
    <div class="article-content e-content">
        {{ object.feed_item_content|safe }}
    </div>
{% endblock %}