<section class="bookmarks">
    <ul class="mentions-list">
    {% for bookmark in bookmarks.items %}
        <li class="h-cite mentions-list-item">Bookmarked by 
            {% if bookmark.author %}
                {% if bookmark.author.url %}
                    <a class="u-author h-card" href="bookmark.author.url">{{ bookmark.author.name }}</a>
                {% else %}
                    <span class="p-author h-card" >{{ bookmark.author.name }}</span>
                {% endif %}
            {% else %}
                Anonymous
            {% endif %} 
            on 
            {% if bookmark.published %}
                {% if bookmark.permalink %}
                    <a class="u-url" href="{{ bookmark.permalink }}"><time class="dt-published" datetime="{{ bookmark.published|date:'c' }}">{{ bookmark.published }}</time></a>
                {% else %}
                    <time class="dt-published" datetime="{{ bookmark.published|date:'c' }}">{{ bookmark.published }}</time>
                {% endif %}
            {% elif bookmark.permalink %}
                <a class="u-url" href="{{ bookmark.permalink}}">an unknown date</a>.
            {% else %}
                <span>an unknown date</span>.
            {% endif %}
        </li>
    {% endfor %}
    </ul>
</section>