<article class="article h-entry">
    {% if item.feed_item_header %}
    <header class="article-header">
        {% block feeditemheader %}
        <h1 class="p-name">
            {% if linkTitle %}
                <a class="article-link alt" href="{{ item.get_absolute_url }}">{{ item.feed_item_header }}</a>
            {% else %}
                {{ item.feed_item_header }}
            {% endif %}
        </h1>
        {% if item.in_reply_to %}
        <div>In reply to <a class="u-in-reply-to" href="{{item.in_reply_to}}">{{item.in_reply_to}}</a></div>
        {% endif %}
        {% endblock %}
    </header>
    {% endif %}
    {% if item.feed_item_content %}
    <div class="article-content e-content">
        {% block feeditemcontent %}
        {{ item.feed_item_content|safe }}
        {% endblock %}
    </div>
    {% endif %}
    <footer class="article-footer">
        {% block feeditemfooter %}
        <div class="meta">{% include item.meta_template %}</div>
        {% endblock %}
    </footer>
</article>