<section class="mentions">
    <ul class="mentions-list">
    {% for mention in mentions.items %}
        <li class="h-cite mentions-list-item">
            {% if mention.type == "BOOKMARK" %}
            Bookmarked
            {% elif mention.type == "LIKE" %}
            Liked
            {% elif mention.type == "REPOST" %}
            Reposted
            {% else %}
            Mentioned
            {% endif %} by 
            {% if mention.author %}
                {% if mention.author.url %}
                    <a class="u-author h-card" href="{{ mention.author.url }}">{{ mention.author.name }}</a>
                {% else %}
                    <span class="p-author h-card" >{{ mention.author.name }}</span>
                {% endif %}
            {% else %}
                Anonymous
            {% endif %} 
            {% if mention.title %}
                in “{{ mention.title }}”
            {% endif %}
            {% if mention.published %}
                {% if mention.permalink %}
                    on <a class="u-url" href="{{ mention.permalink }}"><time class="dt-published" datetime="{{ mention.published|date:'c' }}">{{ mention.published }}</time></a>
                {% else %}
                    on <time class="dt-published" datetime="{{ mention.published|date:'c' }}">{{ mention.published }}</time>
                {% endif %}
            {% elif mention.permalink %}
                (<a class="u-url" href="{{ mention.permalink}}">link</a>).
            {% endif %}
        </li>
    {% endfor %}
    </ul>
</section>