<div class="feed h-feed">
    <header class="feed-header">     
        <div class="bg-primary">
            <div class="feed-header-content">
            {% if feed.name %}
            <h1 class="feed-name p-name">
                {% if feed.url %}
                <a class="u-url" href="{{ feed.url }}">
                {% endif %}
                {{ feed_title }}
                {% if feed.url %}
                </a>
                {% if postfeed.subtitle %}
                <small class="feed-subtitle">{{ postfeed.subtitle }}</small>
                {% endif %}
                {% endif %}
            </h1>
            {% elif feed.url %}
            <a class="u-url alt" href="{{ feed.url }}">{{feed.url}}</a>
            {% endif %}
            {% if feed.uid %}
            <a class="u-url u-uid alt feed-full-text" href="{{ feed.uid }}">Full text feed</a>
            {% endif %}
            </div>   
        </div>
        {% if feed.prev %}
        <nav class="feed-nav">
            <a class="feed-prev  btn btn-primary font-small font-bold" rel="prev" href="{{ feed.prev.url }}">{{ feed.prev.text }}</a>
        </nav>
        {% endif %}
    </header>
    {% block feed_list %}
    <ul class="feed-list">
        {% for post in feed.posts %}
        <li class="feed-item" id="feed-item-{{post.id}}">
            {% if postfeed.full %}
            {% include 'feed/_post.html' with post=post is_first=forloop.first %}
            {% else %}
            {% include 'feed/_post_short.html' with post=post is_first=forloop.first %}
            {% endif %}
        </li>
        {% endfor %}
    </ul>
    {% endblock %}
    <footer class="feed-footer">
        {% if feed.next %}
        <nav class="feed-nav">
            <a class="feed-next btn btn-primary font-small font-bold" rel="next" href="{{ feed.next.url }}">{{ feed.next.text }}</a>
        </nav>
        {% endif %}
    </footer>
</div>