<article class="post h-entry {{ post.post_type|lower }}">
    {% block postheader %}
    <header class="post-header">
        {% include 'feed/_post_header_meta.html' with post=post %}
        <div class="h-card p-author post-author"><a class="u-url" href="{{ post.author.url }}"><img class="u-photo" src="{{ post.author.photo.url }}" alt="" /><span>{{ post.author.name }}</span></a></div>
    </header>
    {% endblock %}
    {% block postcontent %}
    <div class="post-content">
        {% include 'feed/_post_content_short.html' with post=post is_first=is_first %}
    </div>
    {% endblock %}
    {% block postfooter %}
    <footer class="post-footer"></p>
        {% include 'feed/_post_footer_meta.html' with post=post %}
    </footer>
    {% endblock %}
</article>