{% if post.post_type == 'BOOKMARK' %}
    {% if post.has_quote_or_content %}
    <div class="article-content e-content">
        {% if post.quote_html %}
        <blockquote>
            {{ post.quote_html|safe }}
        </blockquote>
        {% endif %}
        {% if post.content_html %}
        <div>{{ post.content_html|safe }}</div>
        {% endif %}
    </div>
    {% endif %}
{% elif post.post_type == 'LIKE' %}
    <p class="p-summary">Liked <a class="u-like-of" href="{{post.url}}">{{post.url}}</a>.</p>
{% elif post.post_type == 'PHOTO' %}
    <div class="article-content">
        <a href="{{ post.get_permalink }}">
        {% for postimage in post.postimage_set.all|slice:"0:1" %}
        <img height="{{ postimage.image.image_height }}" width="{{ postimage.image.image_width }}" class="u-photo" src="{{ postimage.image.image.url }}" alt="{{ postimage.alt }}"></a>
        {% endfor %}
        </a>
        <div class="e-content">{{ post.content_html|safe }}</div>
    </div>
{% elif post.post_type == 'ARTICLE' %}
    <div class="article-content e-description">
        {{ post.summary_html | safe }}
    </div>
    <a class="article-readmore" href="{{ post.get_absolute_url }}">Read full article</a>
{% else %}
    {% include post.postcontent_template with item=post %}
{% endif %}