{% extends 'base/extended_hcard.html' %}

{% block meta %}
    {{ block.super }}
    <link href="{% url 'webmentions:webmention_handler' %}" rel="webmention" />

    {% if post.is_article %}
    <meta property="og:title" content="{{ post.title_txt }}" />
    <meta property="og:description" content="{{ post.summary_txt }}" />
    <meta property="og:type" content="article" />
    {% elif post.is_bookmark %}
    <meta property="og:title" content="{{ post.get_title_or_url_txt }} bookmarked by {{ post.author.name }}" />
    <meta property="og:description" content="{{ object.content_txt }}" />
    {% elif post.is_like %}
    <meta property="og:title" content="{{ post.url }} liked by {{ post.author.name }}" />
    {% elif post.is_note %}
    <meta property="og:title" content="{{ post.context_txt }}" />
    {% elif post.is_photo %}
    <meta property="og:title" content="{{ post.content_txt }}" />
    <meta name="og:image" content="{{ post.image.url }}" />
    <meta name="og:image:alt" content="{{ post.image.alt }}">  
    {% elif post.is_repost %}
    <meta property="og:title" content="{{ post.source_author_name }} reposted by {{ post.author.name }}" />
    {% endif %}
{% endblock %}

{% block body %}
<article class="article h-entry {{ post.post_type|lower }}">
{% block postheader %}
    <header class="article-header">
        {% if post.is_article %}
        <h1 class="p-name"><a class="article-link alt" href="{{ post.get_permalink }}">{{ post.title_html | safe }}</a></h1>
        {% endif %}

        {% if post.in_reply_to %}
        <div class="meta">In reply to <a class="u-in-reply-to alt" href="{{ post.in_reply_to }}">{{ post.in_reply_to }}</a></div>
        {% endif %}

        {% if post.is_bookmark %}
        <div class="meta">{{ post.author.name }} bookmarked <a class="article-link alt" href="{{ post.url }}">{{ post.get_title_or_url_txt }}</a></div>
        {% endif %}

        {% if post.is_like %}
        <div class="meta">{{ post.author.name }} liked <a class="article-link alt" href="{{ post.url }}">{{ post.url }}</a></div>
        {% endif %}

        {% if post.is_repost %}
        <div class="meta">{{ post.author.name }} reposted <a class="article-link alt u-repost-of" href="{{ post.source_url }}">{{ post.source_author }}</a></div>
        {% endif %}

        {% if post.is_article %}
        <div class="article-summary p-summary">{{ post.summary_html | safe }}</div>
        {% endif %}
    </header>
{% endblock %}
{% block postcontent %}
    {% if post.is_article %}
    <div class="article-content e-content">
        {{ post.feed_item_content|safe }}
    </div>
    {% elif post.is_bookmark %}
    {% if post.has_quote_or_content %}
    <p>🔖 <a class="u-bookmark-of {% if post.title_txt %}h-cite{% endif %}" href="post.url">{{ post.get_title_or_url_txt }}</a></p>
    <div class="article-content e-content">
        {% if post.quote_html %}
        <blockquote>
            {{ post.quote_html|safe }}
        </blockquote>
        {% endif %}
        {% if post.content_html %}
        <div>{{ post.content_html|safe }}</div>
        {% endif %}
    </div>
    {% endif %}
    {% elif post.is_like %}
    <p>⭐️ <a class="u-like-of" href="{{ post.url }}">{{ post.url }}</a></p>
    {% elif post.is_note %}
    <div class="article-content e-content">
        {{ post.feed_item_content|safe }}
    </div>
    {% elif post.is_photo %}
    <div class="article-content">
        <a href="{{ post.get_permalink }}">
        {% for postimage in post.postimage_set.all|slice:"0:1" %}
        <img height="{{ postimage.image.image_height }}" width="{{ postimage.image.image_width }}" class="u-photo" src="{{ postimage.image.image.url }}" alt="{{ postimage.alt }}"></a>
        {% endfor %}
        </a>
        <div class="e-content">{{ post.content_html|safe }}</div>
    </div>
    {% elif post.is_repost %}
        <div class="h-cite u-repost-of"> 
            <div class="h-cite u-repost-of">    
                <blockquote class="e-content">
                    {{post.content_html|safe}}
                    <footer>—
                        {% if post.url %}
                            <span class="p-author h-card">
                                {% if post.source_author_url %}
                                    <a class="p-name u-url" href="{{ post.source_author_url }}">{{ post.source_author_name }}</a>,
                                {% else %}
                                    <span class="p-name">{{ post.source_author_name }}</span>,
                                {% endif %}
                            </span>
                            <cite><a class="u-url" href="{{ post.url }}">{{ post.source_name|default:post.url }}</a></cite>
                        {% elif post.source_name %}
                            <span class="p-author h-card">
                                {% if object.source_author_url %}
                                    <a class="p-name u-url" href="{{ post.source_author_url }}">{{ post.source_author_name }}</a>,
                                {% else %}
                                    <span class="p-name">{{ post.source_author_name }}</span>,
                                {% endif %}
                            </span>
                            {{ post.source_name }}
                        {% endif %}
                    </footer>
                </blockquote>
            </div>
        </div>
    {% endif %}
{% endblock %}
{% block postfooter %}
    <footer class="article-footer">
        {% if user.is_staff %}
            <div class="meta"><a href="{{ post.get_edit_link }}">Edit</a></div>
        {% endif %}
        <div class="meta">
            {% if post.is_published %}
            <div class="postmeta-published">Published by 
                <span class="h-card p-author postmeta-published-author"><a class="u-url" href="{{ object.get_site_url }}"><img class="u-photo" src="{{ post.author.photo.url }}" alt="{{ post.author.name }}" />{{ post.author.name }}</a></span> on 
                <time class="dt-published" datetime="{{ post.published|date:'c' }}">
                    <a href="{% url 'feed:month' post.published|date:'Y' post.published|date:'m' %}">{{ post.published|date:'F' }}</a>
                    <a href="{% url 'feed:day' post.published|date:'Y' post.published|date:'m' post.published|date:'d' %}">{{ post.published|date:'j' }}</a>, 
                    <a href="{% url 'feed:year' post.published|date:'Y' %}">{{ post.published|date:'Y' }}</a>
                </time>
            </div>
            {% else %}
            <div class="postmeta-published">Not yet published.</div>
            {% endif %}
            {% if post.tags.all %}
            <div class="postmeta-tags">Tags:
                <ul>
                {% for tag in post.tags.all|dictsort:"name" %}
                    <li><a class="p-category" href="{{ tag.get_absolute_url }}" rel="tag">{{ tag.name }}</a></li>
                {% endfor %}
                </ul>
            </div>
            {% endif %}
            {% if post.syndications.all %}
            <div class="postmeta-syndication">Also on: 
                <ul class="commalist">
                {% for s in post.syndications.all|dictsort:"name" %}
                    <li><a class="u-syndication" href="{{ s.url }}">{{ s.name }}</a></li>
                {% endfor %}
                </ul>
            </div>    
            {% endif %}
            <div class="postmeta-permalink">Permalink: <a class="u-url" href="{{ post.get_permalink }}">{{ request.get_host }}{{ post.get_absolute_url }}</a></div>
        </div>
    </footer>
{% endblock %}
    {% block webmentions %}
        {% include 'feed/_webmentions.html' with webmentions=webmentions %}        
    {% endblock webmentions %}
</article>
{% endblock %}