{% extends 'base/extended_hcard.html' %}

{% block meta %}
    {{ block.super }}
    <link href="{% url 'webmentions:webmention_handler' %}" rel="webmention" />

    {% if post.is_article %}
    <meta property="og:title" content="{{ post.title_txt }}" />
    <meta property="og:description" content="{{ post.summary_txt }}" />
    <meta property="og:type" content="article" />
    {% elif post.is_bookmark %}
    <meta property="og:title" content="{{ post.get_title_or_url_txt }} bookmarked by {{ post.author.name }}" />
    <meta property="og:description" content="{{ object.content_txt }}" />
    {% elif post.is_like %}
    <meta property="og:title" content="{{ post.url }} liked by {{ post.author.name }}" />
    {% elif post.is_note %}
    <meta property="og:title" content="{{ post.context_txt }}" />
    {% elif post.is_photo %}
    <meta property="og:title" content="{{ post.content_txt }}" />
    <meta name="og:image" content="{{ post.image.url }}" />
    <meta name="og:image:alt" content="{{ post.image.alt }}">  
    {% elif post.is_repost %}
    <meta property="og:title" content="{{ post.source_author_name }} reposted by {{ post.author.name }}" />
    {% endif %}
{% endblock %}

{% block body %}
{% include 'feed/_post.html' with post=post is_first=True %}
{% endblock %}