{% extends 'feed/detail.html' %}

{% block meta %}
{{ block.super }}
<meta name="twitter:card" content="summary_large_image" />
<meta name="twitter:creator" content="@{{ photo.author.twitter_screenname }}" />
<meta property="og:url" content="{{ permalink }}" />
<meta property="og:title" content="{{ photo.feed_item_header }}" />
<meta property="og:description" content="{{ photo.caption }}" />
<meta name="og:image" content="{{ photo.image.url }}" />
<meta property="og:type" content="article" />
{% endblock %}

{% block postcontent %}

{% include "photos/_photo_content.html" with photo=photo %}

{% endblock %}