<!doctype html>
<html lang="en">
<head>
    {% load static %}
    <meta charset="utf-8">
    <title>{{page_title|default:"Orange Gnome"}}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="mobile-web-app-capable" content="yes" />

    <link rel="stylesheet" href={% static 'base/css/style.css' %} />
    <link rel="stylesheet" href={% static 'base/js/libs/highlight/styles/default.min.css' %}>
    <link rel="icon" href="{{ profiles.site_owner.photo.url }}" />
    <link rel="apple-touch-icon-precomposed" href="{{profiles.site_owner.photo.url }}" />

    <meta property="og:title" content="{{ page_title }}">
    <meta property="og:url" content="{{ permalink }}">
    <meta property="og:site_name" content="{{ base.site_name }}">
    <meta name="twitter:site" content="@{{ profiles.site_owner.twitter_screenname }}" />

    {% if permalink %}
    <link rel="canonical" href="{{ permalink }}" />
    {% endif %}

    {% if rss_url %}
    <link rel="alternate" type="application/rss+xml" title="{{ rss_title }}" href="{{ rss_url }}">
    {% endif %}

    {% block meta %}
    {% endblock %}
</head>
<body>
    {% if user.is_staff %}
        <div><small><a href="{% url 'admin:index' %}">Admin</a></small></div>
    {% endif %}
    <header class="siteheader">
        <div class="h-card profile {% block hcard_class %}{% endblock %}">
            <a rel="me" href="{% url 'feed:index' %}" class="u-url u-uid profile-link"><img width="128" height="128" class="u-photo profile-image" src="{{ profiles.site_owner.photo.url }}" alt="{{ profiles.site_owner.name }}" /></a>
            <h1 class="p-name profile-name">{{ profiles.site_owner.name }}</h1>
            {% block hcard %}
            {% endblock %}
        </div>
        <nav class="sitenav">
            <ul class="sitenav-list">
                <li class="sitenav-listitem"><a class="sitenav-listlink alt" href="{% url 'feed:index' %}">Home</a></li>
                <li class="sitenav-listitem"><a class="sitenav-listlink alt" href="{% url 'posts:index' %}">Posts</a></li>
                <li class="sitenav-listitem"><a class="sitenav-listlink alt" href="{% url 'notes:index' %}">Notes</a></li>
                <li class="sitenav-listitem"><a class="sitenav-listlink alt" href="{% url 'photos:index' %}">Photos</a></li>
            </ul>
        </nav>
    </header>
    <div class="sitemain">
    {% block body %}
    {% endblock %}
    </div>
    <footer class="sitefooter">
        <div class="sitefooter-content">Copyright &copy; {% now 'Y' %} Brent Lineberry</div>
        <div class="sitefooter-content">Previous version: <a href="http://2011.orangegnome.com">2011</a></div>
    </footer>
    <script src={% static 'base/js/libs/highlight/highlight.min.js' %}></script>
    <script src={% static 'base/js/site.js' %}></script>
</body>
</html>