{% extends 'feed/detail.html' %}

{% block meta %}
{{ block.super }}
<meta property="og:url" content="{{ permalink }}" />
<meta property="og:title" content="{{ post.title_txt }}" />
<meta property="og:description" content="{{ post.summary }}" />
<meta property="og:type" content="article" />
{% endblock %}

{% block postheader %}
    <header class="article-header">
        {% if object.feed_item_header %}
            <h1 class="e-name"><a class="article-link alt" href="{{ object.get_absolute_url }}">{{ object.title_html | safe }}</a></h1>
        {% endif %}
        {% if object.in_reply_to %}
            <div>In reply to <a class="u-in-reply-to" href="{{object.in_reply_to}}">{{object.in_reply_to}}</a></div>
        {% endif %}

        <div class="article-summary e-summary">{{ object.summary_html | safe }}</div>
    </header>
{% endblock %}